* {
    box-sizing: border-box;
}

body {
    margin-top: 30px;
    height: 100vh;
    background: linear-gradient(#0caa88, #111);
    padding: 20px;
    font-family: 'Karla', sans-serif;
    display: flex;
    align-items: top;
    justify-content: center;
}

main {
    background-color: #F5F5F5;
    height: 400px;
    max-width: 500px;
    border-radius: 5px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.title {
    font-size: 2.5rem;
    margin: 0;
    color: #0caa88;
    font-weight: bold;
}

.instructions {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    margin-top: 0;
    text-align: center;
}

.dice-container {
    display: grid;
    grid-template: auto auto / repeat(5, 1fr);
    gap: 20px;
    margin-bottom: 15px;
}

.die-face {
    height: 50px;
    width: 50px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.15);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.die-num {
    font-size: 2rem;
}

.plays-count, .record {
    margin: 2px;
    font-style: italic;
}

.roll-dice {
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 6px;
    background-color: #0caa88;
    color: white;
    font-size: 1.2rem;
    font-family: 'Karla', sans-serif;
    cursor: pointer;
    margin-top: 5px;
}

.roll-dice:focus {
    outline: none;
}

.roll-dice:active {
    box-shadow: inset 5px 5px 10px -3px rgba(0, 0, 0, 0.7);
}

@media screen and (max-width: 500px) {
    main {
        width: 300px;
    }

    .title {
        font-size: 1.5rem;
    } 

    .instructions {
        font-size: 0.8rem;
        padding-top: 5px;
    }

    .dice-container {
        gap: 15px;
    }

    .die-face {
        width: 35px;
        height: 35px;
    }

    .die-num {
        font-size: 1.4rem;
    }

    .plays-count {
        font-size: 0.8rem;
    }

    .record {
        font-size: 0.8rem;
    }

    .roll-dice {
        height: 30px;
        width: 100px;
        font-size: 0.8rem;
        border-radius: 2px;
    }
}